{% extends "base.html" %}
{% block title %}Assets{% endblock %}
{% block content %}
<div>
    <div>
        <a href="{{ url_for('assets') }}">Assets</a>
        <span></span>
    </div>
    <br />
    {% if assets %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Ticker</th>
                <th>Asset ID</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>
                    <a href="{{ url_for('asset_summary', asset_uuid=[asset.asset_uuid]) }}">
                        {{ asset.name }}
                    </a>
                </td>
                <td>
                    {{ asset.ticker }}
                </td>
                <td>
                    {{ asset.asset_id }}
                </td>
                {% if asset.transfer_restricted %}
                <td>
                    Transfer Restricted
                </td>
                {% else %}
                <td>
                    Tracked
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>You have not issued any assets yet.</div>
    {% endif %}
</div>
{% endblock %}
